@import 'variables';
@import 'mixins';
@import 'base';
@import 'navbar';
@import 'footer';

// Estilos responsive
@media screen and (max-width: 768px) {
    .contenedor-imagen img {
        max-width: 100%;
        height: auto;
    }

    nav.navbar .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    footer .social-icons {
        flex-direction: row;
        justify-content: center;
    }
}

// Estilos específicos para (768x1024) en "Preguntas Frecuentes" y "Contacto"
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body.preguntas-frecuentes-page,
    body.contacto-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    footer {
        margin-top: auto;
    }
}



















































































































































  





